

.welcome-section {
    height: $home-section-height;
    background: rgba($primary-dark-color, 0.3);

    @include mediaQ--min($bp-md) {
        padding-top: 140px;
    }
}

.about-section {
    background-image: url(/php-websites/ali-restaurant-two/public/images/italy-coast.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include mediaQ--min($bp-sm) {
        height: $home-section-height;
    }
}

.quote-section {
    background-image: url(/php-websites/ali-restaurant-two/public/images/pasta-plate.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: $home-section-height;

    @include mediaQ--min($bp-sm) {
        background-size: $home-section-height;
        background-position: right;
    }
}

.menu-section {
    background: rgba($secondary-color, 0.9);
    padding: ($mp-double + $mp-default) 0;

    button {
        margin: $mp-double 0;
    }
}

.menu-section__category {
    

    .inner-box {
        background: $primary-color;
        margin: 0 30px;
        padding: 30px 40px;
        position: relative;
        
    }

    .outer-box {
        height: 385px;
        position: absolute;
        width: 330px;
        background: $primary-color;
        top: 15px;
        left: -15px;
        z-index: 1;
    }

    hr, h5, p, img {
        position: relative;
        z-index: 4;
    }
}