

h2.font-2 {
    border-bottom: 1px solid $secondary-color;
    padding: $mp-default 0;
    margin: $mp-lg 0;
    font-size: 45px;
}

.well {
    border-radius: 0;
    background-color: $secondary-color;
    margin-bottom: 0;
    border: none;
    min-height: 500px;

    @include mediaQ--min($bp-sm) {
        padding: 30px 15px;
    }
}


.order-form__right-column {
    min-height: 200px;

    h5 {
        color: $secondary-dark-color;
    }

    p {
        text-align: right;

        @include mediaQ--min($bp-md) {
            padding-right: 40px;
        }
    }

}

.order-form__left-column {
    img {
        width: 100px;
    }

}

.table-row-heading {
    border-bottom: 2px solid $primary-dark-color;
}