

.btn-primary {
    background-color: $primary-color;
    border-radius: 0;
    border: none;
    transition: background-color 0.25s;
    text-transform: uppercase;
    font-family: $font-family-heading;
    font-size: $font-size-md;
    padding: $mp-sm $mp-double;


    &:hover, :focus {
        background-color: $secondary-dark-color;
    }
}

.btn-primary--sm {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 10px;
    font-family: $font-family-paragraph;
    background-color: $secondary-dark-color;

    &:hover, :focus {
        background-color: $primary-dark-color;
    }

    @include mediaQ--max($bp-sm) {
        float: right;
    }

}