
body {
    background-color: $primary-color;
    background-image: url(/php-websites/ali-restaurant-two/public/images/food-banner.jpg);
    background-repeat: no-repeat;
    background-position: top;
}