
body {
    background-color: $primary-color;

}

.menu-body {
    background: none;
    background-color: $primary-color;
}

.menu-order {
    background: none;
    background-color: $primary-color;
}