
header {
    background-color: $primary-dark-color;
    height: $header-height-sm-screen;

    padding: $mp-lg;
    
    @include mediaQ--min($bp-md) {
        height: 80px;
    }

}

.logo-wrapper {
    padding: 0;

    figure {
        position: absolute;
        background: $secondary-color;
        padding: $mp-sm $mp-default;
    }

    img {
        width: $logo-img-width;
    }

    h1 {
        color: $primary-dark-color;
        margin: 0;
    }
}
